@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@font-face {
    font-family: oldenglish;
    src: url(/assets/fonts/PirataOne-Regular.ttf);
}

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
 }
 
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(74.19deg, #000000 8.22%, #272727 93.79%);

}


header {
    position: fixed;
    top: 0;
    width: inherit;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 4% 0 4%;
    font-size: 1.5rem;
    font-family: oldenglish;
    letter-spacing: 1px;
    color: white;
}

header img {
    height: 40px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: #020202;
    color: white;
}

footer div {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 1% 4%;
    font-size: .8rem;
}

footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    opacity: 75%;
}

#mobilefooter {
    display: none;
}


main {
    width: 100%;
    max-width: 100%;
    display: flex;
    height: 100vh;
}

#main_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 4%;
}

#main_left h1 {
    font-size: calc(4vw + 1.2rem);
    color: white;
    font-family: oldenglish;
    letter-spacing: 3px;
    line-height: 1em;
    width: 90%;
}

#main_left div {
    background-color: white;
    padding: 2% 4%;
    width: 70%;
    margin: 5% 20% 0 0;
    min-width: 300px;
}

#main_left div p {
    width: 100%;
}

#main_left div button {
    width: 100%;
    height: 30%;
    margin: 0;
    margin-top: 5%;
    padding: 4% 0 8% 0;
    color: white;
    font-weight: bold;
    font-size: medium;
    background: linear-gradient(0deg, #020202, #020202), linear-gradient(268.15deg, #2B2B2B 6.38%, #000000 94.58%);
    border-radius: 4px;
    cursor: pointer;
}

#main_left div button:hover {
    background: white;
    border: #020202 solid 2px;
    color: #020202;
}

#main_right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_right img {
    width: 80%;
}


@media only screen and (max-width: 768px) {
    header {
        top: unset;
        position: sticky;
        padding: 0;
        margin: 0;
        font-size: 1rem;
        height: 50px;
    }

    header img {
        height: 30px;
        margin-left: 4%;
    }

    footer {
        position: unset;
        padding: 5% 0;
        margin-top: 5%;
        font-size: .8rem;
        bottom: auto;
    }

    footer div {
        display: none;
    }
    

    #mobilefooter {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    #mobilefooter p{
        margin-top: 4%;
    }

    main {
        margin: 0 auto;
        flex-direction: column-reverse;
        padding: 4% 0 ;
        width: 100%;
        height: auto;
    }

    #main_left {
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 0;
        margin: 0 auto;
        
    }

    #main_left h1 {
        padding: 5% 0;
        margin: 0;
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
    }

    #main_left div {
        width: 100%;
        padding: 4% ;
        margin: 0;
    }

    #main_left div p {
        padding: 0;
        margin: 0;
        font-size: .9rem;
        width: 100%;
    }

    #main_left div button {
        padding: 4%;
        margin: 0;
        margin-top: 5%;
    }

    #main_right {
        padding: 0;
        margin: 0;
        width: 100%;
        

    }

    #main_right img {
        padding: 0;
        margin: 0 auto;
        width: 70%;
    }
}